# Dependencies
node_modules/
dist/
.env
.env.local
.env.*.local

# OS Files
.DS_Store
Thumbs.db

# Server specific
server/data/*.db
server/payloads/

# Agent specific
agent/*.exe
agent/.bytecode_id

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log
